/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  /* Define the animation keyframes and the utility class name */
  --animate-slide-down: slideDown 0.5s ease-out forwards;

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
