<!-- <header class="flex bg-black text-white p-4 h-40 items-center justify-center">
    <div class="p-fluid">
        <div class="logo">
            <img src="/logo-1.png" alt="Brand Logo" class="logo-image w-40 h-24" />
        </div>
        
    </div>
</header> -->

<div class="bg-black flex items-center justify-center">
  <div class="card container">
    <p-toolbar class="border-0 bg-transparent h-40">
      <ng-template #start>
        <img src="/logo-1.png" alt="Brand logo" class="logo-image w-40 h-24" />
      </ng-template>
      <ng-template #center class="">
        <div class="items-center gap-2 pr-40">
          <p-button label="HOME" text plain />
          <p-button label="BEHIND THE EDIT" text plain />
          <p-button label="SERVICES" text plain />
          <p-button label="PORTFOLIO" text plain />
          <p-button label="CONTACT" text plain />
    
        </div>
      </ng-template>
      <ng-template #end>
        <div class="flex items-center gap-2">
          <p-button label="Share" severity="contrast" size="small" />
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            [style]="{ width: '32px', height: '32px' }"
          />
        </div>
      </ng-template>
    </p-toolbar>
  </div>
</div>
