<div
  class="flex items-center justify-center"
  [class.bg-black]="!isScrolled()"
  [class.bg-white]="isScrolled() && themeService.mode() === 'light'"
  [class.bg-slate-950]="isScrolled() && themeService.mode() === 'dark'"
>
  <div class="card container">
    <p-toolbar class="border-0 bg-transparent h-40">
      <ng-template #start>
        <img
          [src]="isScrolled() && themeService.mode() === 'light' ? './logo.png' : './logo3.png'"
          alt="Brand logo"
          class="logo-image h-36 w-36"
        />
      </ng-template>
      <ng-template #center class="">
        <div class="items-center gap-2 pr-40">
            <p-button 
                [styleClass]="navButtonClass()"
            label="HOME" text plain/>
          <p-button 
            [styleClass]="navButtonClass()" label="BEHIND THE EDIT" text plain />
          <p-button 
            [styleClass]="navButtonClass()" label="SERVICES" text plain />
          <p-button
            [styleClass]="navButtonClass()" label="BOOK" routerLink="/book-appointment" text plain />
          <p-button 
            [styleClass]="navButtonClass()" label="PORTFOLIO" text plain />
          <p-button 
            [styleClass]="navButtonClass()" label="CONTACT" text plain />
        </div>
      </ng-template>
      <ng-template #end>
        <div class="flex items-center gap-2">
          <p-button
            [icon]="themeService.mode() === 'dark' ? 'pi pi-sun' : 'pi pi-moon'"
            [styleClass]="navButtonClass()"
            [attr.aria-label]="themeService.mode() === 'dark' ? 'Switch to light mode' : 'Switch to dark mode'"
            text
            rounded
            plain
            (onClick)="themeService.toggle()" />
          <p-button label="Share" severity="contrast" size="small" />
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            [style]="{ width: '32px', height: '32px' }"
          />
        </div>
      </ng-template>
    </p-toolbar>
  </div>
</div>
